@tailwind base;
@tailwind components;
@tailwind utilities;
.bg{
    background-image: url(/fa9b27255272d76e665cce4314b4aedb.jfif)
    ;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{
    background-image: url(/Image.svg);
    background-repeat: no-repeat;
    background-size: cover;
}